*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    margin-top: 25px;
    background-image:url(exercise.jpg);
    background-size: cover;
    overflow-x:hidden ;
}
#exercisePage{
    display:none;
}
a{
    text-decoration: none;
}
#begin:active{
    scale:1.02;
    transition-duration: 2s;
    box-shadow: 2px 2px 10px black;
}
#name{
    font-weight: 700;
    font-size:50px;
    color:#06800c;
    text-shadow:5px 5px 5px black ;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.367);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.867);
}
#begin{
    font-size: 25px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    border-radius: 20px;
    background-color: green;
    width:200px;
    position:relative;
    left:360px;
    bottom:15px;
}
h1 {
    text-align: center;
    color: #333;
}
.input-group {
    margin-bottom: 15px;
}
label {
    display: block;
    color:white;
    background-color: #0b0b9c;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left:10px;
    padding-top:10px;
    height:40px;
}
input {
    width: 97%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input:focus{
   outline:none;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-exercise {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
.timer {
    font-size: 2em;
    font-weight: bold;
}
#summaryPage {
    display: none;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-btn:hover {
    color: darkred;
}
